extends layout

block content
  h1= title
  p Welcome to #{title}
  p
  p URL shortener microservice
  p Usage
    li exist/<number>: for an existing short URL
    li new/<site>: for adding a new site
    li sitelist: for an overview of existing sites
